@use "sass:math";

@mixin keyframes-animation($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
};

@mixin prefix-property($name, $value) {
  -webkit-#{$name}: $value;
          #{$name}: $value;
};

// $bg-color: #30395C;
$bg-color: #d4d4d4;
$wave-color: #289ddb;

html, body, .vsc-initialized {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000000;
}

.sky-container {
  position: absolute;
  top: 0;
  height: 55%;
  width: 100%;

}

$main-content-width: 49%;
$main-content-height: 84%;

.sky-container .main-content {
  position: relative;
  left: calc(50% - math.div(#{$main-content-width}, 2));
  top: calc(50% - math.div(#{$main-content-height}, 2.5));
  width: #{$main-content-width};
  height: #{$main-content-height};
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  /*
  border-top: .2em solid #{$bg-color};
  border-bottom: .2em solid #{$bg-color};
  border-left: .2em solid #{$bg-color};
  border-right: .2em solid #{$bg-color}
  */
}

.sky-container .main-content .text-container {
  color: #{$bg-color};
  font-family: 'Roboto Mono', monospace;
  font-size: 1.15em;
  text-align: center;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.sky-container .main-content .text-container .description-container {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.sky-container .main-content .text-container .description-container div {
  text-align: center;
  width: 100%;
}



.sky-container .main-content .text-container hr {
  align-content : center;
  width : 65%;
  margin-left : auto;
  margin-right : auto;
}
.sky-container .main-content .text-container .description-container div hr {
  align-content : center;
  width : 85%;
  margin-left : auto;
  margin-right : auto;
}
.sky-container .main-content .text-container .link-container {
  width: 100%;
  height: calc(35% - 4px);
}


/*
.sky-container .main-content .text-container .link-container::before {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 6px);
  height: 0.15em;
  border: 2px solid black;
  bottom: -.2em;
  left: -4px;
  background-color: #{$wave-color};
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.sky-container .main-content .text-container .link-container:hover::before {
  transform: scaleX(1);
}
*/


.sky-container .main-content .text-container .link-container a {
  color: #{$bg-color};
  text-decoration: none;
  display: inline-block;
}

.sky-container .main-content .text-container .link-container a:hover {
  text-decoration: underline;
}
/*
.sky-container .main-content .text-container .link-container a::before {
  content: "";
  position: absolute;
  display: block;
  width: calc(50% + 6px);
  height: 0.15em;
  border: 2px solid black;
  bottom: -2px;
  left: calc(25% - 4px);
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 0.35s ease-out;
}

.sky-container .main-content .text-container .link-container a:hover::before {
  transform: scaleX(1);
  transition: transform 0.35s linear;
}

/*
.sky-container .main-content .text-container .link-container a::after {
  content: "Link";
  position: absolute;
  display: block;
  width: calc(50% + 6px);
  height: 0.15em;
  border: 2px solid black;
  bottom: -2px;
  left: calc(25% - 4px);
  background-color: #000000;
  transition: transform 0.25s linear;
}
*/

/*
.sky-container .main-content .text-container .link-container a::after {
  content: "Test";
  position: absolute;
  display: block;
  width: calc(50% + 6px);
  height: 0.15em;
  border: 2px solid black;
  bottom: -2px;
  left: calc(25% - 4px);
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.sky-container .main-content .text-container .link-container a:hover::after {
  transform: scaleX(1);
}
*/
/*
.sky-container .main-content .text-container .link-container a::after {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 6px);
  height: 0.15em;
  border: 2px solid black;
  bottom: -2px;
  left: -4px;
  background-color: #{$wave-color};
  transform: scaleX(0);
  transition: transform 0.15s ease;
}

.sky-container .main-content .text-container .link-container a:hover::after {
  transform: scaleX(0.25);
}
*/

/*
.sky-container .main-content .text-container .link-container a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5em;
  bottom: 0px;
  left: 0px;
  background-color: #007DB9;
  transform: scaleX(0);
  transition: transform 0.25s ease;
}

.sky-container .main-content .text-container .link-container a:hover::before {
  transform: scaleX(1);
}
*/


$border-box-width: 97%;
$border-box-height: 95%;

/*
.sky-container .main-content::after {
  content: '';
  position: absolute;
  left: calc(50% - math.div(#{$border-box-width}, 2));
  top: calc(50% - math.div(#{$border-box-height}, 2));

  width: #{$border-box-width};
  height: #{$border-box-height};
  background: transparent;
  border: 2px solid #{$bg-color};
}
*/

.town-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.houses-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 70%;
  padding: 0px;
  left: 0px;
  overflow: hidden;
}

// make sure this matches up with the html
$max-homes: 25;
$home-heights: ();
$home-widths: ();

$percentage-per-house: math.div(1, $max-homes);
$precision: 0.01;

@for $i from 1 to $max-homes {
  $home-heights: append($home-heights, math.div(85 + random(15), 100));
  $home-widths: append($home-widths, ($percentage-per-house + math.div((math.random() * 1.5), 100)));
}

@for $i from 1 to $max-homes {
  .houses-container>img:nth-child(#{$i}) {
    width: #{nth($home-widths, $i) * 100%};
    // random wether the image is flipped or not
    @if (random(3) > 2) {
      transform: scaleX(-1);
    } 
  }
}

.houses-container img {
  max-height: 100%;
  padding: 0px;
}

.wave-container {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0px;
  background: #{$bg-color};
  border: 0px;
}

@include keyframes-animation(move-wave) {
  from {
    transform: scaleX(1) translateY(0%);    

  } to {
    transform: scaleX(1.05) translateY(7%);
  }
}

$boat-animation-altitude: 25%;
@include keyframes-animation(move-boat) {
  0% {
    transform: translateY(0%);    
    right: -8%;
  } 20% {
    transform: translateY(-#{$boat-animation-altitude});    
  } 40% {
    transform: translateY(0%);    
  } 60% {
    transform: translateY(-#{$boat-animation-altitude});    
  } 80% {
    transform: translateY(0%);    
  } 100% {
    transform: translateY(-#{$boat-animation-altitude});    
    // transform: translateX(-100%) translateY(7%);
    right: 100%;
  }
}


$wave-duration: 5s;
$boat-duration: 45s;

.wave-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 83%;
  bottom: 0;
  left: 0;
  border: 0px;
  background: black;
  background-image: url("../images/wave.svg");
  background-repeat: repeat-x;
  @include prefix-property(animation, move-wave #{$wave-duration} alternate ease-in-out infinite);
}

.wave-container .boat {
  position: absolute;
  top: -10%;
  right: -8%;
  width: 8%;
  z-index: 1;
  @include prefix-property(animation, move-boat #{$boat-duration} linear infinite);
}



