@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Lora:ital,wght@0,400;1,500&family=Roboto+Mono:wght@500&display=swap");
html, body {
  background: #0C121F;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  user-select: none;
}

.content-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
  height: 85%;
  background-color: #070B17;
  border: 0.3rem solid #00A286;
  border-radius: 0.2%;
  display: flex;
  flex-direction: row;
  color: #F7F9FF;
  text-align: center;
  font-size: 5rem;
  z-index: 2;
}

.content .title {
  transform: scale(1);
  transition: 0.35s;
}

.content .title:hover {
  transform: scale(1.01);
  transition: 0.35s;
}

.content .link-cards div a {
  transform: scale(1);
  transition: 0.35s;
}

.content .link-cards div:hover a {
  transform: scale(1.03);
  transition: 0.35s;
}

.title {
  font-size: 1.2em;
  text-decoration: underline;
  text-decoration-color: #348995;
  text-decoration-thickness: 0.08em;
  font-family: "Lora", serif;
  margin-top: 0.5em;
  font-style: italic;
  flex-grow: 4;
}

.link-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 3;
}

.link-cards div {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #003D54;
}

.link-cards div:nth-child(2) {
  background-color: #006F7B;
}

/*
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}
*/
/* The typewriter cursor effect */
/*
@keyframes blink-caret {
  from {
    border-color: transparent; 
  } 50% {
    border-color: #00A286 ;
  } to {
    border-color: transparent; 
  }
}
*/
a {
  position: relative;
  font-size: 0.65em;
  font-family: "Lora", serif;
  font-style: normal;
  letter-spacing: 0.05em;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0px;
  background-color: #F7F9FF;
  transform: scaleX(0);
  transition: transform 0.25s ease;
}

.content .link-cards div:hover a::before {
  transform: scaleX(1);
}

.selfie {
  width: 150px;
  height: 150px;
  border: 3px solid #FFF;
  background-color: #577DF5;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}

img {
  margin-top: 7px;
  margin-left: -5px;
  width: 120px;
  height: 120px;
  transform: scale(1.55, 1.55);
}

.dot {
  position: absolute;
  border-radius: 50%;
  height: 0.7em;
  width: 0.7em;
  z-index: 1;
  opacity: 0;
}

@-webkit-keyframes circular-animation {
  from {
    -webkit-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-opacity: 1;
    opacity: 1;
  }
}
@keyframes circular-animation {
  from {
    -webkit-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes circular-animation-reverse {
  from {
    -webkit-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-opacity: 1;
    opacity: 1;
  }
}
@keyframes circular-animation-reverse {
  from {
    -webkit-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes animation-lightup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animation-lightup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dot.theme-dark-green {
  background: #006F7B;
  -webkit-animation: circular-animation 5s normal infinite;
  animation: circular-animation 5s normal infinite;
}

.dot.theme-dark-green::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 0px;
  opacity: 0;
  background-color: transparent;
  box-shadow: 0 1px 40px 10px #006F7B;
  -webkit-animation: animation-lightup 1.8s alternate ease-in infinite;
  animation: animation-lightup 1.8s alternate ease-in infinite;
}

.dot.theme-dark-green.reverse {
  -webkit-animation: circular-animation-reverse 5s normal infinite;
  animation: circular-animation-reverse 5s normal infinite;
}

.dot.theme-light-green {
  background: #003D54;
  -webkit-animation: circular-animation 5s normal infinite;
  animation: circular-animation 5s normal infinite;
}

.dot.theme-light-green::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 0px;
  opacity: 0;
  background-color: transparent;
  box-shadow: 0 1px 40px 10px #003D54;
  -webkit-animation: animation-lightup 1.8s alternate ease-in infinite;
  animation: animation-lightup 1.8s alternate ease-in infinite;
}

.dot.theme-light-green.reverse {
  -webkit-animation: circular-animation-reverse 5s normal infinite;
  animation: circular-animation-reverse 5s normal infinite;
}

/*# sourceMappingURL=style.css.map */
