@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
html, body {
  background: #0C121F;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
}

.content {
  position: absolute;
  width: 75%;
  height: 80%;
  left: 12.5%;
  top: 10%;
  background-color: #070B17;
  border: 20px solid #547DA0;
  box-shadow: 0 1px 50px #000;
  color: #FFF;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
  z-index: 2;
}

a {
  font-size: 30px;
  font-style: italic;
  cursor: pointer;
  transition-duration: 0.15s;
  transform: none;
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #FFF;
}

a:hover {
  color: #AAA;
  transform: scaleX(1.1);
}

.selfie {
  width: 150px;
  height: 150px;
  border: 3px solid #FFF;
  background-color: #577DF5;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}

img {
  margin-top: 7px;
  margin-left: -5px;
  width: 120px;
  height: 120px;
  transform: scale(1.55, 1.55);
}

.dot {
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0px;
  margin: 0px;
  z-index: 1;
}

@-webkit-keyframes circular-animation {
  from {
    -webkit-transform: rotate(0deg) translateX(0.8em);
    transform: rotate(0deg) translateX(0.8em);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0.8em);
    transform: rotate(360deg) translateX(0.8em);
  }
}
@keyframes circular-animation {
  from {
    -webkit-transform: rotate(0deg) translateX(0.8em);
    transform: rotate(0deg) translateX(0.8em);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0.8em);
    transform: rotate(360deg) translateX(0.8em);
  }
}
@-webkit-keyframes circular-animation-reverse {
  from {
    -webkit-transform: rotate(360deg) translateX(0.8em);
    transform: rotate(360deg) translateX(0.8em);
  }
  to {
    -webkit-transform: rotate(0deg) translateX(0.8em);
    transform: rotate(0deg) translateX(0.8em);
  }
}
@keyframes circular-animation-reverse {
  from {
    -webkit-transform: rotate(360deg) translateX(0.8em);
    transform: rotate(360deg) translateX(0.8em);
  }
  to {
    -webkit-transform: rotate(0deg) translateX(0.8em);
    transform: rotate(0deg) translateX(0.8em);
  }
}
@-webkit-keyframes animation-lightup-light-purple {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 1px 70px 20px #8191D1;
  }
}
@keyframes animation-lightup-light-purple {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 1px 70px 20px #8191D1;
  }
}
.dot.theme-light-purple {
  background: #8191D1;
  -webkit-animation: circular-animation 3.5s normal infinite, animation-lightup-light-purple 3.4s alternate ease-in infinite;
  animation: circular-animation 3.5s normal infinite, animation-lightup-light-purple 3.4s alternate ease-in infinite;
}

.dot.theme-light-purple.reverse {
  -webkit-animation: circular-animation-reverse 3.5s normal infinite, animation-lightup-light-purple 3.4s alternate ease-out infinite;
  animation: circular-animation-reverse 3.5s normal infinite, animation-lightup-light-purple 3.4s alternate ease-out infinite;
}

@-webkit-keyframes animation-lightup-dull-red {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 1px 70px 20px #8B3838;
  }
}
@keyframes animation-lightup-dull-red {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 1px 70px 20px #8B3838;
  }
}
.dot.theme-dull-red {
  background: #8B3838;
  -webkit-animation: circular-animation 3.5s normal infinite, animation-lightup-dull-red 3.4s alternate ease-in infinite;
  animation: circular-animation 3.5s normal infinite, animation-lightup-dull-red 3.4s alternate ease-in infinite;
}

.dot.theme-dull-red.reverse {
  -webkit-animation: circular-animation-reverse 3.5s normal infinite, animation-lightup-dull-red 3.4s alternate ease-out infinite;
  animation: circular-animation-reverse 3.5s normal infinite, animation-lightup-dull-red 3.4s alternate ease-out infinite;
}

@-webkit-keyframes animation-lightup-hunter-green {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 1px 70px 20px #3D8C94;
  }
}
@keyframes animation-lightup-hunter-green {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 1px 70px 20px #3D8C94;
  }
}
.dot.theme-hunter-green {
  background: #3D8C94;
  -webkit-animation: circular-animation 3.5s normal infinite, animation-lightup-hunter-green 3.4s alternate ease-in infinite;
  animation: circular-animation 3.5s normal infinite, animation-lightup-hunter-green 3.4s alternate ease-in infinite;
}

.dot.theme-hunter-green.reverse {
  -webkit-animation: circular-animation-reverse 3.5s normal infinite, animation-lightup-hunter-green 3.4s alternate ease-out infinite;
  animation: circular-animation-reverse 3.5s normal infinite, animation-lightup-hunter-green 3.4s alternate ease-out infinite;
}

@-webkit-keyframes animation-lightup-light-pink {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 1px 70px 20px #C476BE;
  }
}
@keyframes animation-lightup-light-pink {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 1px 70px 20px #C476BE;
  }
}
.dot.theme-light-pink {
  background: #C476BE;
  -webkit-animation: circular-animation 3.5s normal infinite, animation-lightup-light-pink 3.4s alternate ease-in infinite;
  animation: circular-animation 3.5s normal infinite, animation-lightup-light-pink 3.4s alternate ease-in infinite;
}

.dot.theme-light-pink.reverse {
  -webkit-animation: circular-animation-reverse 3.5s normal infinite, animation-lightup-light-pink 3.4s alternate ease-out infinite;
  animation: circular-animation-reverse 3.5s normal infinite, animation-lightup-light-pink 3.4s alternate ease-out infinite;
}

@-webkit-keyframes animation-lightup-carolina-blue {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 1px 70px 20px #95C8EF;
  }
}
@keyframes animation-lightup-carolina-blue {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 1px 70px 20px #95C8EF;
  }
}
.dot.theme-carolina-blue {
  background: #95C8EF;
  -webkit-animation: circular-animation 3.5s normal infinite, animation-lightup-carolina-blue 3.4s alternate ease-in infinite;
  animation: circular-animation 3.5s normal infinite, animation-lightup-carolina-blue 3.4s alternate ease-in infinite;
}

.dot.theme-carolina-blue.reverse {
  -webkit-animation: circular-animation-reverse 3.5s normal infinite, animation-lightup-carolina-blue 3.4s alternate ease-out infinite;
  animation: circular-animation-reverse 3.5s normal infinite, animation-lightup-carolina-blue 3.4s alternate ease-out infinite;
}

/*# sourceMappingURL=style.css.map */
