html, body, .vsc-initialized {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000000;
}

.sky-container {
  position: absolute;
  top: 0;
  height: 55%;
  width: 100%;
}

.sky-container .main-content {
  position: relative;
  left: calc(50% - 49%/2);
  top: calc(50% - 84%/2.5);
  width: 49%;
  height: 84%;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  /*
  border-top: .2em solid #d4d4d4;
  border-bottom: .2em solid #d4d4d4;
  border-left: .2em solid #d4d4d4;
  border-right: .2em solid #d4d4d4
  */
}

.sky-container .main-content .text-container {
  color: #d4d4d4;
  font-family: "Roboto Mono", monospace;
  font-size: 1.15em;
  text-align: center;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.sky-container .main-content .text-container .description-container {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.sky-container .main-content .text-container .description-container div {
  text-align: center;
  width: 100%;
}

.sky-container .main-content .text-container hr {
  align-content: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.sky-container .main-content .text-container .description-container div hr {
  align-content: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.sky-container .main-content .text-container .link-container {
  width: 100%;
  height: calc(35% - 4px);
}

/*
.sky-container .main-content .text-container .link-container::before {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 6px);
  height: 0.15em;
  border: 2px solid black;
  bottom: -.2em;
  left: -4px;
  background-color: #289ddb;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.sky-container .main-content .text-container .link-container:hover::before {
  transform: scaleX(1);
}
*/
.sky-container .main-content .text-container .link-container a {
  color: #d4d4d4;
  text-decoration: none;
  display: inline-block;
}

.sky-container .main-content .text-container .link-container a:hover {
  text-decoration: underline;
}

/*
.sky-container .main-content .text-container .link-container a::before {
  content: "";
  position: absolute;
  display: block;
  width: calc(50% + 6px);
  height: 0.15em;
  border: 2px solid black;
  bottom: -2px;
  left: calc(25% - 4px);
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 0.35s ease-out;
}

.sky-container .main-content .text-container .link-container a:hover::before {
  transform: scaleX(1);
  transition: transform 0.35s linear;
}

/*
.sky-container .main-content .text-container .link-container a::after {
  content: "Link";
  position: absolute;
  display: block;
  width: calc(50% + 6px);
  height: 0.15em;
  border: 2px solid black;
  bottom: -2px;
  left: calc(25% - 4px);
  background-color: #000000;
  transition: transform 0.25s linear;
}
*/
/*
.sky-container .main-content .text-container .link-container a::after {
  content: "Test";
  position: absolute;
  display: block;
  width: calc(50% + 6px);
  height: 0.15em;
  border: 2px solid black;
  bottom: -2px;
  left: calc(25% - 4px);
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.sky-container .main-content .text-container .link-container a:hover::after {
  transform: scaleX(1);
}
*/
/*
.sky-container .main-content .text-container .link-container a::after {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 6px);
  height: 0.15em;
  border: 2px solid black;
  bottom: -2px;
  left: -4px;
  background-color: #289ddb;
  transform: scaleX(0);
  transition: transform 0.15s ease;
}

.sky-container .main-content .text-container .link-container a:hover::after {
  transform: scaleX(0.25);
}
*/
/*
.sky-container .main-content .text-container .link-container a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5em;
  bottom: 0px;
  left: 0px;
  background-color: #007DB9;
  transform: scaleX(0);
  transition: transform 0.25s ease;
}

.sky-container .main-content .text-container .link-container a:hover::before {
  transform: scaleX(1);
}
*/
/*
.sky-container .main-content::after {
  content: '';
  position: absolute;
  left: calc(50% - math.div(97%, 2));
  top: calc(50% - math.div(95%, 2));

  width: 97%;
  height: 95%;
  background: transparent;
  border: 2px solid #d4d4d4;
}
*/
.town-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.houses-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 70%;
  padding: 0px;
  left: 0px;
  overflow: hidden;
}

.houses-container > img:nth-child(1) {
  width: 4.4434594893%;
}

.houses-container > img:nth-child(2) {
  width: 4.968046177%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(3) {
  width: 4.7686967985%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(4) {
  width: 5.499861439%;
}

.houses-container > img:nth-child(5) {
  width: 5.4913397404%;
}

.houses-container > img:nth-child(6) {
  width: 4.2639407524%;
}

.houses-container > img:nth-child(7) {
  width: 4.088797304%;
}

.houses-container > img:nth-child(8) {
  width: 4.1404073191%;
}

.houses-container > img:nth-child(9) {
  width: 5.3974039861%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(10) {
  width: 4.621028907%;
}

.houses-container > img:nth-child(11) {
  width: 4.1614360625%;
}

.houses-container > img:nth-child(12) {
  width: 4.3365377696%;
}

.houses-container > img:nth-child(13) {
  width: 4.7738105803%;
}

.houses-container > img:nth-child(14) {
  width: 4.3795205396%;
}

.houses-container > img:nth-child(15) {
  width: 4.0716483007%;
}

.houses-container > img:nth-child(16) {
  width: 5.0154270211%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(17) {
  width: 4.3120294362%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(18) {
  width: 4.6841856231%;
}

.houses-container > img:nth-child(19) {
  width: 4.9711415237%;
}

.houses-container > img:nth-child(20) {
  width: 4.5250126675%;
}

.houses-container > img:nth-child(21) {
  width: 5.4947356207%;
}

.houses-container > img:nth-child(22) {
  width: 5.3623888925%;
}

.houses-container > img:nth-child(23) {
  width: 4.9907701842%;
}

.houses-container > img:nth-child(24) {
  width: 4.2854622132%;
}

.houses-container img {
  max-height: 100%;
  padding: 0px;
}

.wave-container {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0px;
  background: #d4d4d4;
  border: 0px;
}

@-webkit-keyframes move-wave {
  from {
    transform: scaleX(1) translateY(0%);
  }
  to {
    transform: scaleX(1.05) translateY(7%);
  }
}
@keyframes move-wave {
  from {
    transform: scaleX(1) translateY(0%);
  }
  to {
    transform: scaleX(1.05) translateY(7%);
  }
}
@-webkit-keyframes move-boat {
  0% {
    transform: translateY(0%);
    right: -8%;
  }
  20% {
    transform: translateY(-25%);
  }
  40% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-25%);
    right: 100%;
  }
}
@keyframes move-boat {
  0% {
    transform: translateY(0%);
    right: -8%;
  }
  20% {
    transform: translateY(-25%);
  }
  40% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-25%);
    right: 100%;
  }
}
.wave-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 83%;
  bottom: 0;
  left: 0;
  border: 0px;
  background: black;
  background-image: url("../images/wave.svg");
  background-repeat: repeat-x;
  -webkit-animation: move-wave 5s alternate ease-in-out infinite;
  animation: move-wave 5s alternate ease-in-out infinite;
}

.wave-container .boat {
  position: absolute;
  top: -10%;
  right: -8%;
  width: 8%;
  z-index: 1;
  -webkit-animation: move-boat 45s linear infinite;
  animation: move-boat 45s linear infinite;
}