html, body, .vsc-initialized {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000000;
}

.sky-container {
  position: absolute;
  top: 0;
  height: 55%;
  width: 100%;
}

.sky-container .main-content {
  position: relative;
  left: calc(50% - 85%/2);
  top: calc(50% - 94%/2.5);
  width: 85%;
  height: 94%;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

.sky-cotainer .main-content .extra-break {
  display: inline;
}

.sky-container .main-content .text-container {
  color: #d4d4d4;
  font-family: "Roboto Mono", monospace;
  font-size: 0.95em;
  text-align: center;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.sky-container .main-content .text-container .description-container {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sky-container .main-content .text-container .description-container div {
  text-align: center;
  width: 100%;
}

.sky-container .main-content .text-container .description-container div hr {
  align-content: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.sky-container .main-content .text-container .link-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(35% - 4px);
}

.sky-container .main-content .text-container .link-container hr {
  align-content: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.sky-container .main-content .text-container .link-container div {
  width: 100%;
}

.sky-container .main-content .text-container .link-container a {
  font-size: 0.9em;
  color: #d4d4d4;
  text-decoration: none;
  display: inline-block;
}

.sky-container .main-content .text-container .link-container .link-sep-non-mobile {
  display: none;
}

.sky-container .main-content .text-container .link-container span .link-sep {
  align-content: center;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.sky-container .main-content .text-container .link-container a:hover {
  text-decoration: underline;
}

.town-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.houses-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 70%;
  padding: 0px;
  left: 0px;
  overflow: hidden;
}

.houses-container > img:nth-child(1) {
  display: inline;
  height: 35%;
}

.houses-container > img:nth-child(2) {
  display: inline;
  height: 36%;
}

.houses-container > img:nth-child(3) {
  display: inline;
  height: 47%;
}

.houses-container > img:nth-child(4) {
  display: inline;
  height: 42%;
}

.houses-container > img:nth-child(5) {
  display: inline;
  height: 37%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(6) {
  display: inline;
  height: 36%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(7) {
  display: inline;
  height: 39%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(8) {
  display: inline;
  height: 39%;
}

.houses-container > img:nth-child(9) {
  display: inline;
  height: 40%;
}

.houses-container > img:nth-child(10) {
  display: inline;
  height: 46%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(11) {
  display: inline;
  height: 41%;
}

.houses-container > img:nth-child(12) {
  display: inline;
  height: 45%;
}

.houses-container > img:nth-child(13) {
  display: inline;
  height: 41%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(14) {
  display: inline;
  height: 38%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(15) {
  display: inline;
  height: 48%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(16) {
  display: inline;
  height: 47%;
}

.houses-container > img:nth-child(17) {
  display: inline;
  height: 41%;
}

.houses-container > img:nth-child(18) {
  display: inline;
  height: 34%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(19) {
  display: inline;
  height: 38%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(20) {
  display: inline;
  height: 43%;
}

.houses-container > img:nth-child(21) {
  display: inline;
  height: 36%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(22) {
  display: inline;
  height: 44%;
}

.houses-container > img:nth-child(23) {
  display: inline;
  height: 38%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(24) {
  display: inline;
  height: 35%;
}

.houses-container > img:nth-child(25) {
  display: inline;
  height: 35%;
}

.houses-container > img:nth-child(26) {
  display: inline;
  height: 35%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(27) {
  display: inline;
  height: 38%;
}

.houses-container > img:nth-child(28) {
  display: inline;
  height: 44%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(29) {
  display: inline;
  height: 44%;
}

.houses-container > img:nth-child(30) {
  display: inline;
  height: 35%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(31) {
  display: inline;
  height: 44%;
}

.houses-container > img:nth-child(32) {
  display: inline;
  height: 44%;
}

.houses-container > img:nth-child(33) {
  display: inline;
  height: 47%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(34) {
  display: inline;
  height: 34%;
}

.houses-container > img:nth-child(35) {
  display: inline;
  height: 42%;
  transform: scaleX(-1);
}

.houses-container > img:nth-child(36) {
  display: inline;
  height: 40%;
}

.houses-container > img:nth-child(1) {
  display: inline;
}

.houses-container > img:nth-child(2) {
  display: inline;
}

.houses-container > img:nth-child(3) {
  display: inline;
}

.houses-container > img:nth-child(4) {
  display: inline;
}

.houses-container > img:nth-child(5) {
  display: inline;
}

.houses-container > img:nth-child(6) {
  display: inline;
}

.houses-container > img:nth-child(7) {
  display: inline;
}

.houses-container img {
  position: relative;
  max-height: 100%;
  padding: 0px;
  display: hidden;
}

.wave-container {
  position: absolute;
  width: 100%;
  min-width: 300px;
  height: 30%;
  bottom: 0px;
  background: #d4d4d4;
  border: 0px;
}

@-webkit-keyframes move-wave {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(12%);
  }
}
@keyframes move-wave {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(12%);
  }
}
@-webkit-keyframes move-boat {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-688.2352941176%);
  }
}
@keyframes move-boat {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-688.2352941176%);
  }
}
@-webkit-keyframes move-boat-vertically {
  0% {
    transform: translateY(-3%);
  }
  25% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-3%);
  }
  75% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-3%);
  }
}
@keyframes move-boat-vertically {
  0% {
    transform: translateY(-3%);
  }
  25% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-3%);
  }
  75% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-3%);
  }
}
.wave-container::after {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid red;
  min-height: 2rem;
  height: 83%;
  bottom: 0;
  left: 0;
  border: 0px;
  background: black;
  background-image: url("../images/wave.svg");
  background-position: top;
  background-size: 30rem 5rem;
  background-repeat: repeat-x;
  -webkit-animation: move-wave 4s ease-out alternate infinite;
  animation: move-wave 4s ease-out alternate infinite;
}

.wave-container .boat {
  position: absolute;
  height: 82%;
  width: 100%;
  z-index: 1;
  -webkit-animation: move-boat-vertically 81.2s cubic-bezier(0.29, 0.06, 0.7, 0.93) infinite;
  animation: move-boat-vertically 81.2s cubic-bezier(0.29, 0.06, 0.7, 0.93) infinite;
}

.wave-container .boat::after {
  content: "";
  position: absolute;
  height: 100%;
  top: -10%;
  right: -17%;
  width: 17%;
  z-index: 1;
  background-image: url("../images/boat.svg");
  background-position: top;
  background-size: 100% 100%;
  -webkit-animation: move-boat 15s ease-in-out infinite;
  animation: move-boat 15s ease-in-out infinite;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .houses-container > img:nth-child(8) {
    display: inline;
  }

  .houses-container > img:nth-child(9) {
    display: inline;
  }
}
@media only screen and (min-width: 768px) {
  .houses-container > img:nth-child(10) {
    display: inline;
  }

  .houses-container > img:nth-child(11) {
    display: inline;
  }

  .houses-container > img:nth-child(12) {
    display: inline;
  }

  .sky-container .main-content {
    left: calc(50% - 49%/2);
    top: calc(50% - 84%/2.5);
    width: 49%;
    height: 84%;
  }

  .sky-container .main-content .text-container {
    font-size: 1.15em;
  }

  .sky-container .main-content .text-container .description-container {
    justify-content: flex-end;
  }

  .sky-container .main-content .text-container .description-container div hr {
    width: 100%;
  }

  .sky-container .main-content .text-container .link-container span .link-sep {
    display: none;
  }

  .sky-container .main-content .extra-break {
    display: none;
  }

  .sky-container .main-content .text-container .link-container span .link-sep-non-mobile {
    display: inline;
  }

  @-webkit-keyframes move-boat {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-1350%);
    }
  }
  @keyframes move-boat {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-1350%);
    }
  }
  .wave-container .boat {
    height: 100%;
  }

  .wave-container .boat::after {
    right: -8%;
    width: 8%;
    z-index: 1;
    -webkit-animation: move-boat 30s linear infinite;
    animation: move-boat 30s linear infinite;
  }
}
@media only screen and (min-width: 992px) {
  .houses-container > img:nth-child(13) {
    display: inline;
  }

  .houses-container > img:nth-child(14) {
    display: inline;
  }

  .houses-container > img:nth-child(15) {
    display: inline;
  }

  .houses-container > img:nth-child(16) {
    display: inline;
  }

  .houses-container > img:nth-child(17) {
    display: inline;
  }

  .houses-container > img:nth-child(18) {
    display: inline;
  }

  .houses-container > img:nth-child(19) {
    display: inline;
  }

  .houses-container > img:nth-child(20) {
    display: inline;
  }

  .houses-container > img:nth-child(21) {
    display: inline;
  }

  .houses-container > img:nth-child(22) {
    display: inline;
  }

  .houses-container > img:nth-child(23) {
    display: inline;
  }

  .houses-container > img:nth-child(24) {
    display: inline;
  }

  .houses-container > img:nth-child(25) {
    display: inline;
  }

  .houses-container > img:nth-child(26) {
    display: inline;
  }

  .houses-container > img:nth-child(27) {
    display: inline;
  }

  .houses-container > img:nth-child(28) {
    display: inline;
  }

  .houses-container > img:nth-child(29) {
    display: inline;
  }

  .houses-container > img:nth-child(30) {
    display: inline;
  }

  .houses-container > img:nth-child(31) {
    display: inline;
  }

  .houses-container > img:nth-child(32) {
    display: inline;
  }

  .houses-container > img:nth-child(33) {
    display: inline;
  }

  .houses-container > img:nth-child(34) {
    display: inline;
  }

  .houses-container > img:nth-child(35) {
    display: inline;
  }

  .houses-container > img:nth-child(36) {
    display: inline;
  }
}
@media only screen and (min-width: 1500px) {
  .sky-container .main-content .text-container {
    font-size: 2em;
  }
}
@media only screen and (min-width: 2300px) {
  .sky-container .main-content .text-container {
    font-size: 2.5em;
  }
}